<div class="l-footer">
    <div class="jin-footer_wrap">
        <div class="jin-footer_friendship"><h5>友情链接</h5>
            <div class="jin-footer_friendship-list">
                <a href="">证券之星</a>
                <a href="">网易贵金属</a>
                <a href="">汇誉财经</a>
                <a href="">FXStreet中文网</a>
                <a href="">龙讯财经</a>
                <a href="">友财网</a>
                <a href="">黄金网</a>
                <a href="">Investing.com</a>
                <a href="">幸福投资网</a>
                <a href="">中金网</a>
                <a href="">方舟财经</a>
                <a href="">中国金融行业自律联盟</a>
                <a href="">幸福黄金网</a>
                <a href="">中金在线基金</a>
                <a href="">和讯黄金</a>
            </div>
        </div>
    </div>
    <div class="jin-footer_wrap">
        <div class="jin-footer_l jin-footer_cooperation"><h5>战略合作</h5>
            <div class="jin-footer_cooperation-list">
                <p class="jin-footer_cooperation-item jin-footer_cooperation-tencent">
                    <a href="">
                        <img width="111" height="35" src="__INDEX__/img/commons/collaboration/tencent@2x.png">
                    </a>
                </p>
                <p class="jin-footer_cooperation-item jin-footer_cooperation-zhongjin">
                    <a href="">
                        <img width="74" height="34" src="__INDEX__/img/commons/collaboration/zhongjin@2x.png">
                    </a>
                </p>
                <p class="jin-footer_cooperation-item jin-footer_cooperation-timeweekly">
                    <a href="">
                        <img width="122" height="33" src="__INDEX__/img/commons/collaboration/time-weekly@2x.png">
                    </a>
                </p>
            </div>
        </div>

    </div>
    <div class="jin-footer_wrap">
        <div class="jin-footer_l jin-footer_link">
            <dl>
                <dt><a href="" tppabs="">关于我们</a></dt>
                <dd><a href="">联系我们</a></dd>
                <dd><a href="">广告合作</a></dd>
                <dd>
                    <a href="">数据引用</a></dd>
                <dd>
                    <a href="">人才招聘</a></dd>
                <dd><a href="#">网站地图</a></dd>
                <dd><a href="">隐私声明</a></dd>
                <dd>
                    <a href="">意见反馈</a></dd>
                <dd><a href="">版权声明</a></dd>
            </dl>
        </div>
        <div class="jin-footer_r jin-footer_copyright"><p>多多教育 版权所有 <a
                href="">粤ICP备*****号</a></p>
            <p>Copyright © 2013 - 2018 Jin10.com All Rights Reserved</p>
            <p><a href=""><img src="__INDEX__/img/commons/gongan.png" style="margin-right:5px;"/>粤公网安备
                *****号</a></p></div>
    </div>
</div>