<div class="l-header">
    <nav id="J_nav" class="l-header--nav">
        <div class="l-nav"><!-- 默认隐藏的导航，只在窄屏显示 -->
            <div class="l-nav_bar">
                <div class="jin-nav">
                    <div class="jin-nav_l" onclick="navrClick()">
                        <button id="J_showNav" class="jin-nav_btn"><span></span></button>
                    </div>
                    <div class="jin-nav_r"><a id="J_miniSearch" class="jin-nav_search" href="javascript:;"><i
                            class="jin-icon jin-icon_search"></i></a></div>
                    <h2 style="font-size: 16px;margin-top: 10px">多多教育 • 为投资者而生</h2></div>
            </div>
            <div id="J_nav_wrap" class="l-nav_wrap">
                <div class="l-nav_body"><!-- 搜索 -->
                    <div class="jin-search l-cell">
                        <div class="l-cell_item"><!-- 搜索热门标签 -->
                            <div id="J_tags" class="jin-search_tag"></div>
                        </div>
                        <div class="l-cell_item">
                            <div id="J_search" class="jin-search_box">
                                <div class="jin-search_input"><input type="text" name="search" value=""
                                                                     class="jin-input J_search_input" autofocus>
                                </div>
                                <div class="jin-search_btn"><a href="javascript:;"
                                                               class="jin-btn jin-btn_primary J_search_btn"><i
                                        class="jin-icon jin-icon_search"></i></a></div>
                            </div>
                        </div>
                    </div><!-- 关注我们 -->
                    <div class="jin-oauth">
                        <dl class="jin-oauth_box">
                            <dt class="jin-oauth_h">关注我们</dt>
                            <dd class="jin-oauth_item"><a href=" "><i class="jin-icon jin-icon_phone"
                                                                      id="J_oauth_phone"></i></a></dd>
                            <dd class="jin-oauth_item"><i class="jin-icon jin-icon_miniapp"
                                                          id="J_oauth_miniapp"></i></dd>
                            <dd class="jin-oauth_item"><i class="jin-icon jin-icon_wechat" id="J_oauth_wechat"></i>
                            </dd>
                            <dd class="jin-oauth_item"><a href="" title="" target="_blank"><i
                                    class="jin-icon jin-icon_weibo"></i></a></dd>
                            <dd id="J_more_oauth" class="jin-oauth_item"><i class="jin-icon jin-icon_more"></i></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>