<div class="l-main_info">
    <div id="J_wdgg_t" class="jin-wdgg_t">
        <div class="jin-wdgg_panel">
            <div class="jin-wdgg_loading" style="background: #fff"><h5 class="text-center"> 视频讲解 </h5></div>
        </div>
    </div>
    <div class="jin-showbox">
        <div id="J_showbox" class="jin-showbox_wrap" style="padding-bottom: 0px;">
            <i class="jin-showbox_topline"></i>
            <video width="100%" height="240" controls="controls">
                <source src="movie.ogg" type="video/ogg">
                <source src="http://rv3.1234tv.com/rec/a206840_65f9fa3ae8de10deb013728e05fa0f44-2018-04-04-19:25:17.mp4"
                        type="video/mp4">
                您的浏览器暂不支持视频播放
            </video>
            <p style="text-align: center;color:red;">在动荡的大盘中捞金！！！</p>
            <i class="jin-showbox_bottomline"></i>
            <div id="J_showbox_content"></div>
        </div>
    </div>
    <div id="J_wdgg_b1" class="jin-wdgg jin-wdgg_b">
        <div class="jin-wdgg_loading">
            <div class="row clearfix bs-medida">
                <div class="col-md-12 column bs-medida-bg">
                    <div class="media">
                        <a href="#" class="pull-left"><img
                                src="__INDEX__/img/images/ec9eb57126be6dcd036df53eab8ef6f0.jpg"
                                class="media-object" alt=''/></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                【传许家印投资FF 恒大也要造车？】
                            </h4>
                            <p>传许家印投资FF 恒大也要造车？传许家印投资FF 恒大也要造车？传许家印投资FF ....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jin-wdgg_loading">
            <div class="row clearfix bs-medida">
                <div class="col-md-12 column bs-medida-bg">
                    <div class="media">
                        <a href="#" class="pull-left"><img
                                src="__INDEX__/img/images/ec9eb57126be6dcd036df53eab8ef6f0.jpg"
                                class="media-object" alt=''/></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                【传许家印投资FF 恒大也要造车？】
                            </h4>
                            <p>传许家印投资FF 恒大也要造车？传许家印投资FF 恒大也要造车？传许家印投资FF ....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jin-wdgg_loading">
            <div class="row clearfix bs-medida">
                <div class="col-md-12 column bs-medida-bg">
                    <div class="media">
                        <a href="#" class="pull-left"><img
                                src="__INDEX__/img/images/ec9eb57126be6dcd036df53eab8ef6f0.jpg"
                                class="media-object" alt=''/></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                【传许家印投资FF 恒大也要造车？】
                            </h4>
                            <p>传许家印投资FF 恒大也要造车？传许家印投资FF 恒大也要造车？传许家印投资FF ....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jin-wdgg_loading">
            <div class="row clearfix bs-medida">
                <div class="col-md-12 column bs-medida-bg">
                    <div class="media">
                        <a href="#" class="pull-left"><img
                                src="__INDEX__/img/images/ec9eb57126be6dcd036df53eab8ef6f0.jpg"
                                class="media-object" alt=''/></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                【传许家印投资FF 恒大也要造车？】
                            </h4>
                            <p>传许家印投资FF 恒大也要造车？传许家印投资FF 恒大也要造车？传许家印投资FF ....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jin-qq-cooperation"><i class="jin-icon jin-icon_QQ"></i><span><a
            href="">广告刊登合作：***********</a></span>
    </div>
    <div class="jin-qq-cooperation"><i class="jin-icon jin-icon_QQ"></i><span><a
            href="">其他商务合作：***********</a></span>
    </div>

    <div id="J_wdgg_b2" class="jin-wdgg jin-wdgg_b">
        <div class="jin-wdgg_loading">
            <div class="row clearfix bs-medida">
                <div class="col-md-12 column bs-medida-bg">
                    <div class="media">
                        <a href="#" class="pull-left"><img
                                src="__INDEX__/img/images/ec9eb57126be6dcd036df53eab8ef6f0.jpg"
                                class="media-object" alt=''/></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                【传许家印投资FF 恒大也要造车？】
                            </h4>
                            <p>传许家印投资FF 恒大也要造车？传许家印投资FF 恒大也要造车？传许家印投资FF ....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jin-wdgg_loading">
            <div class="row clearfix bs-medida">
                <div class="col-md-12 column bs-medida-bg">
                    <div class="media">
                        <a href="#" class="pull-left"><img
                                src="__INDEX__/img/images/ec9eb57126be6dcd036df53eab8ef6f0.jpg"
                                class="media-object" alt=''/></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                【传许家印投资FF 恒大也要造车？】
                            </h4>
                            <p>传许家印投资FF 恒大也要造车？传许家印投资FF 恒大也要造车？传许家印投资FF ....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jin-wdgg_loading">
            <div class="row clearfix bs-medida">
                <div class="col-md-12 column bs-medida-bg">
                    <div class="media">
                        <a href="#" class="pull-left"><img
                                src="__INDEX__/img/images/ec9eb57126be6dcd036df53eab8ef6f0.jpg"
                                class="media-object" alt=''/></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                【传许家印投资FF 恒大也要造车？】
                            </h4>
                            <p>传许家印投资FF 恒大也要造车？传许家印投资FF 恒大也要造车？传许家印投资FF ....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jin-wdgg_loading">
            <div class="row clearfix bs-medida">
                <div class="col-md-12 column bs-medida-bg">
                    <div class="media">
                        <a href="#" class="pull-left"><img
                                src="__INDEX__/img/images/ec9eb57126be6dcd036df53eab8ef6f0.jpg"
                                class="media-object" alt=''/></a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                【传许家印投资FF 恒大也要造车？】
                            </h4>
                            <p>传许家印投资FF 恒大也要造车？传许家印投资FF 恒大也要造车？传许家印投资FF ....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- 佰盛声明 -->
    <div class="jin-info jin-declaration">
        <div class="jin-info_title"><h5><i class="jin-icon jin-icon_declaration"></i><span>多多教育声明</span>
        </h5>
        </div>
        <div class="jin-info_b">
            <p>1.我们会尽力保证数据发布速度与准确性，由于不可控因素导致数据未能及时发布敬请谅解。</p>
            <p>2.您或许看到有些数据延迟或提前发布，这是由于数据公布机构有时未必会准时发布所导致。</p>
            <p>3.我们会甄选精品文章供用户阅读参考，若某些文章侵犯了您的权益，请与我们联系删除。</p>
        </div>
    </div>
</div>